In [48]:
import pickle
import glob
import numpy as np
import pandas as pd
import re
import os
import sys

In [49]:
pwd

'/home/jk21/Documents/physionet_cau_umn_sub6'

In [67]:
model_save_path = '/home/jk21/Documents/physionet_cau_umn_sub6/result_interval_add_jk_model'

In [68]:
all_file = glob.glob(model_save_path + '/**')

In [69]:
len(all_file)

78

In [70]:


data = []
allkeys = []
all_file = glob.glob(model_save_path + '/**')
print(len(all_file))
for i in range(len(all_file)) :
    with open(all_file[i], 'rb') as f:
        data1 = pickle.load(f)
    data.append(data1)
    allkeys += data1.keys()

allkeys = list(set(allkeys))

newlist = {}
for i in range(len(data)) :
    if i == 0 :
        for k1 in allkeys :
            try :
                newlist[k1] = [ data[i][k1] ]
            except :
                newlist[k1] = [-999]
    else :
        for k1 in allkeys :
            try :
                newlist[k1].append(data[i][k1])
            except :
                newlist[k1].append(-999)
                
df1 = pd.DataFrame(newlist)

78

In [71]:
df1.keys()

Index(['interval_shape', 'max_wc', 'fc', 'use_stft', 'out_cost', 'mm_mean',
       'ord1', 'm_name2', 'filter_scale', 'model1', 'fmin',
       'interval_mean_shape', 'model_fnm2', 'use_mel', 'stft_shape',
       'model_fnm1', 'max_interval_len', 'mm_weighted_accuracy', 'oo_weight',
       'wunknown', 'ext', 'cout', 'mel_shape', 'min_dist', 'model2',
       'mm_weight', 'use_cqt', 'n_bins', 'n1', 'use_interval_seq', 'maxlen1',
       'pre_emphasis', 'per_sec', 'min_cost', 'chaug', 'max_th', 'm_name1',
       'win_length', 'min_th', 'mixup', 'n_mels', 'trim', 'cqt_shape', 'dp',
       'samp_sec', 'hop_length'],
      dtype='object')

In [72]:
# pd.set_option('display.max_rows', None)

In [73]:
df1[['mm_weighted_accuracy','max_wc','max_th','out_cost','min_cost','min_th','model1','max_interval_len','min_dist','use_interval_seq']].sort_values(by=['min_cost'],ascending=True)

,mm_weighted_accuracy,max_wc,max_th,out_cost,min_cost,min_th,model1,max_interval_len,min_dist,use_interval_seq
26,0.787062,0.808625,0.54,10517.018757,9997.496750,0.59,lcnn7,250,1390,False
32,0.776280,0.787062,0.44,10413.142853,10128.482109,0.62,lcnn7,140,860,False
69,0.762803,0.803235,0.40,10770.424514,10147.253551,0.59,lcnn7,230,650,False
40,0.749326,0.781671,0.57,10775.525802,10266.120490,0.60,lcnn7,290,1760,False
41,0.776280,0.789757,0.54,10226.487249,10279.289450,0.61,lcnn7,160,1940,False
...,...,...,...,...,...,...,...,...,...,...
39,0.762803,0.800539,0.43,11941.807515,11608.120849,0.60,lcnn3,110,340,False
77,0.784367,0.784367,0.48,12605.885071,11740.205626,0.63,lcnn3,200,1360,False
72,0.663073,0.690027,0.58,12236.393100,11942.735654,0.60,lcnn1,220,430,True
14,0.722372,0.735849,0.48,12899.080963,11964.331538,0.50,lcnn5,180,680,True
54,0.700809,0.741240,0.57,12450.918472,12173.755622,0.59,lcnn5,160,1460,True

In [74]:
df1[['mm_weighted_accuracy','max_wc','max_th','out_cost','min_cost','min_th','model1','max_interval_len','min_dist','use_interval_seq']].sort_values(by=['max_wc'],ascending=False)

,mm_weighted_accuracy,max_wc,max_th,out_cost,min_cost,min_th,model1,max_interval_len,min_dist,use_interval_seq
9,0.814016,0.819407,0.50,10353.020411,10353.020411,0.61,lcnn7,250,100,False
7,0.803235,0.816712,0.53,11228.158019,11034.755130,0.64,lcnn7,140,1080,False
43,0.797844,0.816712,0.44,11672.889421,11522.664993,0.61,lcnn3,240,950,False
1,0.814016,0.816712,0.51,11250.839188,10931.165208,0.56,lcnn3,220,1850,False
6,0.797844,0.814016,0.52,10413.142853,10441.908948,0.59,lcnn7,110,1430,False
...,...,...,...,...,...,...,...,...,...,...
63,0.698113,0.706199,0.47,11190.716746,11043.463905,0.62,lcnn1,100,720,True
66,0.657682,0.706199,0.63,11175.602528,11189.272681,0.61,lcnn5,260,1350,True
35,0.673854,0.706199,0.58,10651.333032,10651.333032,0.61,lcnn1,210,710,True
22,0.660377,0.698113,0.65,12339.922989,11018.733936,0.56,lcnn1,260,10,True
72,0.663073,0.690027,0.58,12236.393100,11942.735654,0.60,lcnn1,220,430,True

In [66]:

df1[['mm_weighted_accuracy','max_wc','max_th','out_cost','min_cost','min_th','model1','max_interval_len','min_dist','use_interval_seq']].groupby('use_interval_seq').mean()

,mm_weighted_accuracy,max_wc,max_th,out_cost,min_cost,min_th,max_interval_len,min_dist
use_interval_seq,,,,,,,,
False,0.778527,0.794827,0.488333,11143.784744,10773.918437,0.611429,196.666667,1064.761905
True,0.705270,0.734083,0.557241,11808.939329,11190.338697,0.579655,191.724138,887.931034

In [92]:
m1

'lcnn5'