In [30]:
import numpy as np

import os
import pandas as pd
import pickle

reslist = ['res16/'+fnm for fnm in os.listdir('res16/')]

data = []
allkeys = []
for i in range(len(reslist)) :
    with open(reslist[i], 'rb') as f:
        data1 = pickle.load(f)
    data.append(data1)
    allkeys += data1.keys()

allkeys = list(set(allkeys))

newlist = {}
for i in range(len(data)) :
    if i == 0 :
        for k1 in allkeys :
            try :
                newlist[k1] = [ data[i][k1] ]
            except :
                newlist[k1] = [-999]
    else :
        for k1 in allkeys :
            try :
                newlist[k1].append(data[i][k1])
            except :
                newlist[k1].append(-999)

df1 = pd.DataFrame(newlist)

df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

# df1[df1.use_mel == True][df1.samp_sec==30][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

# df1[df1.use_mel == True][df1.samp_sec==40][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]


df1.to_csv("res.csv")

In [31]:
df1.columns

Index(['use_cqt', 'ext', 'mm_weight', 'out_cost', 'min_th', 'dp', 'stft_shape',
       'pre_emphasis', 'use_rr', 'model1', 'use_mel', 'ord1', 'model_fnm2',
       'min_cost', 'cout', 'filter_scale', 'win_length', 'model2', 'use_stft',
       'mel_shape', 'wunknown', 'mm_mean', 'max_th', 'oo_weight', 'fc', 'trim',
       'n1', 'samp_sec', 'model_fnm1', 'mixup', 'n_bins', 'cqt_shape',
       'hop_length', 'fmin', 'max_wc', 'ext2', 'chaug', 'n_mels',
       'mm_weighted_accuracy'],
      dtype='object')

In [32]:
df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

       min_cost  min_th    max_wc  max_th  mm_weighted_accuracy      out_cost
0  10267.342984    0.61  0.789757    0.48              0.760108  14496.255505
1  11140.589292    0.60  0.795148    0.48              0.776280  15125.620581
2  10835.193085    0.60  0.789757    0.59              0.760108  14090.184785
3  11437.500518    0.57  0.792453    0.48              0.768194  14299.608869
4  10899.282270    0.63  0.800539    0.49              0.787062  14916.196498
5  11161.087584    0.60  0.797844    0.50              0.797844  15131.463961

In [33]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr_rr'][df1.samp_sec==20].groupby('ext2').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
ext2,,,,,,
False,10754.541218,0.603333,0.792453,0.523333,0.772686,14572.634750
True,11159.124027,0.600000,0.796047,0.483333,0.777179,14780.475316

In [29]:
df1[df1.use_mel == True][df1.samp_sec==20].groupby('ext2').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [use_cqt, ext, mm_weight, out_cost, min_th, dp, stft_shape, pre_emphasis, use_rr, model1, use_mel, ord1, model_fnm2, min_cost, cout, filter_scale, win_length, model2, use_stft, mel_shape, wunknown, mm_mean, max_th, oo_weight, fc, trim, n1, samp_sec, model_fnm1, mixup, n_bins, cqt_shape, hop_length, fmin, max_wc, chaug, ext2, n_mels, mm_weighted_accuracy]
Index: []

[0 rows x 39 columns]

In [6]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('dp').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2487798206.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('dp').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [7]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('win_length').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/4208191679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('win_length').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [8]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_cqt').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/3418545181.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_cqt').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [9]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_stft').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2405184312.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_stft').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [10]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_mean').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/1625680927.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_mean').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [11]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('trim').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2863082002.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('trim').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [12]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ord1').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/1358378743.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ord1').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [13]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/51337986.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [14]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('oo_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2832153405.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('oo_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [15]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('n_mels').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/572914904.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('n_mels').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []